// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$image-width: 200px;
$shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;

// Headers

.header {
  box-shadow: $shadow;
  padding: 20px;
  display: flex;
  background: #fff;

  & > * {
    margin: 0 10px;
  }
}

.header__title {
  flex: 1;
  margin: 0;
  font-weight: normal;
}

// Main

.main {
  margin: 30px;
}

.main--form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__empty-text {
  text-align: center;
}

// List page

.list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.list__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image {
  margin: 5px;
  width: $image-width;
  position: relative;
}

.image__link:hover {
  background: none;

  .image__img {
    box-shadow: $shadow;
  }

  & ~ .image__title {
    text-decoration: underline;
  }
}

.image__img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.image__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// Form pages

.form {
  width: 300px;
  border-radius: 10px;
  box-shadow: $shadow;
  padding: 10px;
  background: #fff;
}

.form__field {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.form__label {
  flex: 1;
}

.form__input {
  flex: 3;
}

.form__submit {
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 14px;
}

.form__actions {
  margin: 10px;
}

// Show page

.big-image {
  width: 100%;
}
