<header class="header">
  <h1 class="header__title">Editing Image</h1>

  <%= link_to 'Show', @image %>
  <%= link_to 'Back', images_path %>
</header>

<main class="main main--form-wrapper">
  <%= render 'form', image: @image %>
</main>
