<p id="notice"><%= notice %></p>

<h1>Images</h1>

<main class="list">
  <% @images.each do |image| %>
    <figure class="image">
      <img class="image__img" src="<%= image.url %>" />
      <caption><%= image.title %></caption>
    </figure>
  <% end %>
</main>

<br>

<%= link_to 'New Image', new_image_path %>
